.App {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar img {
  height: 100px;
  margin-left: 10%;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}
