.App {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid black;
}

.nav-bar img {
  height: 100px;
  margin-left: 10%;
  border-radius: 50%;
}

.nav-bar-options { /*list*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.nav-bar-options img {
  height: 50px;
}

.App-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15% 0 15%;
}